@model CRUDApplication_Bihari.Models.Employee
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-info">Employee Details</h1>
                </div>
                <div class="card-body">
                    
                    <div class="m-2">
                        <type ="text" class="form-control" cols="10" rows="2">@Model.Name</text>
                    </div>
                    <div class="m-2">
                        <type ="text" class="form-control" cols="10" rows="2">@Model.State</text>
                    </div>
                    <div class="m-2">
                        <type ="text" class="form-control" cols="10" rows="2">@Model.City</text>
                    </div>
                    <div class="m-2">
                        <type ="text" class="form-control" cols="10" rows="2">@Model.Salary</text>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-danger m-2 p-2" asp-action="Index" asp-controller="Employee">Back to List</a>
                </div>
            </div>
        </div>
    </div>

